* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #dcd9b3;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 15px 40px;
  border-radius: 40px;
  margin: 20px;
}


.navbar nav {
  display: flex;
  align-items: center;
  gap: 25px;   
}


.navbar nav a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}


.icon {
  width: 18px;
  height: 18px;
}
/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text {
  max-width: 100%;
  font-size: 25px;
  padding-left: 100px;
  
}

.hero-text ul {
  list-style: none;
  padding: 0;
  padding-top: 25px;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.hero-text button {
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  background: #f4a825;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: inset 0 4px 6px rgba(0,0,0,0.2);
}

.hero-img img {
  width: 100%;
  height: 800px;      
  object-fit: cover;
}

/* EXPLORE */
.explore {
  padding: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 10px;
  
  width: 220px;        
  flex: 0 0 auto;    
}

.card img {
  width: 100%;
  height: 150px;      
  object-fit: cover; 
  border-radius: 10px;
}

/* LISTINGS */
.listings {
  padding: 40px;
}

.listing-cards {
  display: flex;
  gap: 20px;
}

.listing {
  background: white;
  padding: 15px;
  border-radius: 15px;
}

.listing img {
  width: 100%;
  border-radius: 10px;
}

/* FEATURES */
.features {
  padding: 60px;
  background: #f2f2f2;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.feature {
  text-align: center;
}

/* FOOTER */
.footer {
  background: #ddd;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer textarea {
  width: 250px;
  height: 100px;
  margin-top: 10px;
}

.footer button {
  margin-top: 10px;
  padding: 8px 15px;
}

.footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}