@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body, button, input, select, textarea { font-family: 'Inter', sans-serif !important; font-size: 14px !important; }


/* Material Icons Outlined Global Rules */
.material-icons-outlined {
  font-size: 24px;
  vertical-align: middle;
  line-height: 1;
  user-select: none;
  color: inherit;
}
.material-icons-outlined.icon-sm {
  font-size: 20px;
}
.material-icons-outlined.icon-lg {
  font-size: 32px;
}
